#container{
    height:100vh;
    width: 100vh;
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-right:auto;
    margin-left:auto;
}
#header{
    height: 200px;
    width: 100vh;
    background-color:palevioletred;
    float:none
}
#logo{
    height: 200px;
    width: 200px;
    background-color: slategrey;
    float:left;
}
#logo2{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    float:right
}
#panel1{
    height: 1000px;
    width: 100vh;
    background-color: steelblue;
    float:left;
}
#panel2{
    height: 100%;
    width: 60%;
    background-color: tan;
    float:left;
}
#footer{
    height: 200px;
    width: 100vh;
    background-color: blanchedalmond;
    float:left
}