#container{
    width: 80%;
    background-color: rgba(255, 255, 254, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-right:auto;
    margin-left:auto;
    padding:60px;
}
#header{
    height: 200px;
    width: 100%;
    /* min-width: 1000px; */
    /*background-color:palevioletred;*/
    float:none
}
#logo{
    height: 200px;
    width: 200px;
    /*background-color: slategrey;*/
    float:left;
}
#logo2{
    height: 200px;
    width: 200px;
    /*background-color: blueviolet;*/
    float:right
}
#panel1{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    /*background-color: steelblue;*/
    float:left;
}
#panel2{
    height: 100%;
    width: 60%;
    /*background-color: tan;*/
    float:left;
}
#footer{
    height: 200px;
    width: 100%;
    /*background-color: blanchedalmond;*/
    float:left;
}
