p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
}
.middle{
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    margin: 0;
    background-image: url("../Images/background.jpg");
    background-color:black;
    background-position: top center;
    background-repeat:no-repeat;
    background-size:cover
}
table, th, td {
    border: 1px solid black;
    width:70%;
    background-color:lightgray;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
th{
    background-color: lightslategrey;
    text-align: center;
}
th, td {
padding: 15px;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a{
    color:whitesmoke
}
a:link, a:visited {
    background-color: olive;
    color:snow;
    padding: 10px 15px;
    text-align: center;
    display:inline-block;
    text-decoration: none;
}
a:hover{
    background-color: darkolivegreen;
    box-shadow: none 12px 16px black;
    color:tan
}
.white{
    color:whitesmoke
}
.imgcenter{
    align-self: center;
}